@import '../variables.scss';

.cheatsheet {
  .head {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .elements {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin: 12px;
      gap: 12px;
      &_controls {
        flex: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background: $c-white;
        border-radius: 0.25rem;
        padding: 0.25rem 0.375rem;
        box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 5%);
        .control {
          display: flex;
          align-items: center;
          gap: 3px;
          padding: 0.25rem 0.375rem;
          &.isEditable {
            cursor: pointer;
            &:hover, &:focus{
              background-color: #f1f1f1;
              border-radius: 0.25rem;
            }
          }
        }
        .content {
          min-width: 14rem;
          .item {
            display: block;
            .permision {
              display: flex;
              align-items: center;
              gap: 5px;
              p {
                margin: 0px
              }
            }
            .instruction {
              font-size: 10px;
            }
          }
        }
      }
      button {
        flex: 10%;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
    .ch {
      background: $c-white;
      box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
      width: 100%;
      height: 1056px;
      padding: 36px;
      &-header {
        .title {
          display: flex;
          align-items: center;
          gap: 9px;
          .label {
            margin: 0px;
            font-size: 30px;
            font-weight: 300;
          }
          em {
            font-style: normal;
            font-size: 30px;
            font-weight: 100;
            color: $c-gray;
          }
        }
        .description {
          font-size: 17px;
          font-weight: 200;
          margin: 0px;
        }
        .instruction {
          font-weight: 200;
        }
      }
      .create-jottings {
        .templates {
          display: flex;
          gap:12px;
          .item {
            border: 1px solid $c-gray;
            width: 90px;
            height: 90px;
            border-radius: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
              width: 70px;
            }
          }
        }
      }
      .jottings {
        .list{
          column-count: 3;
          > * {
            break-inside: avoid;
            margin-bottom: 1rem;
          }

        }
      }
    }
  }
}
