@import '../variables.scss';

.configuration {
  .head {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .wrapper {
    width: 100%;
    .sheet {
      margin: 0 auto;
      background: $c-white;
      box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
      width: 816px;
      height: 1056px;
    }
  }
}