@import '../variables.scss';

.sheet {

  &-head {
    #title-card[contenteditable="true"]:focus-visible {
      outline: none;
    }
    .card-title img {
      width: 13px;
    }
  }
  &-content {
    .edition {
      flex: 35%;
      .title {
        margin: 0px;
      }
      .label {
        margin: 3px 0px 20px 0px;
        color: $c-gray;
      }
      .config {
        .items {
          div {
            display: flex;
            justify-content: space-between;
            img {
              width: 61px;
              height: 51px;
            }
          }
          .active {
            border: 2px solid $c-blue;
            border-radius: 3px;
            box-shadow: -2px -2px 12px -1px rgb(85 110 230 / 10%)

          }
        }
      }
    }
    .preview {
      flex: 65%;
      .title {
        margin: 0px;
      }
      .label {
        margin: 3px 0px 20px 0px;
        color: $c-gray;
      }
    }
  }
}

