@import '../variables.scss';

.sheet {

  &-head {
    #title-card[contenteditable="true"]:focus-visible {
      outline: none;
    }
    .card-title img {
      width: 13px;
    }
  }
  &-content {
    .edition {
      flex: 2;
      .title {
        margin: 0px;
      }
      .label {
        margin: 3px 0px 20px 0px;
        color: $c-gray;
      }
    }
    .preview {
      flex: 1;
      .title {
        margin: 0px;
      }
      .label {
        margin: 3px 0px 20px 0px;
        color: $c-gray;
      }
    }
  }
}

