@import '../variables.scss';

.sheet {

  &-head {
    .title[contenteditable="true"]:focus-visible {
      outline: none;
    }
    .card-title img {
      width: 13px;
    }
  }
  &-content {
    .edition {
      flex: 35%;
      .title {
        margin: 0px;
      }
      .title[contenteditable="true"]:focus-visible {
        outline: none;
      }
      .label {
        margin: 3px 0px 20px 0px;
        color: $c-gray;
      }
      .config {
        .items {
          .columns,
          .styles,
          .types{
            display: flex;
            justify-content: space-between;
          }
          .columns img,
          .styles img,
          .types img {
            width: 61px;
            height: 51px;
            cursor: pointer;
          }
          .parent .children {
            border: 2px solid $c-white;
            padding: 3px;
            height: 61px;
            &.show {
              position: relative;
              border: 2px solid $c-blue;
              border-radius: 3px;
              box-shadow: -2px -2px 12px -1px rgb(85 110 230 / 20%);
            }
          }
          .colors {
            display: flex;
            gap: 10px;
            .circle {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              cursor: pointer;
            }
            .blue { background-color: #40BFFF;}
            .red { background-color: #FB7181;}
            .yellow { background-color: #FFC833;}
            .green { background-color: #53D1B6;}
            .purple { background-color: #5C61F4;}
            .dark { background-color: #343a40;;}
          }
          .parent-color .children-color {
            &.show {
              position: relative;
              .check {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
            &.hide .check {
              display: none;
            }
          }
          .sizes {
            display: flex;
            gap: 10px;
            .size {
              cursor: pointer;
              text-align: center;
              p {
                margin:0px
              }
            }
          }
        }
      }
      .actions {
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-end;
        gap: 5px;
      }
    }
    .preview {
      flex: 65%;
      .title {
        margin: 0px;
      }
      .label {
        margin: 3px 0px 20px 0px;
        color: $c-gray;
      }
      .content {
        .design {
          border-radius: 2px;
          margin: 0 auto;
        }
        .one {
          min-width: 350px;
          max-width: 350px;
          border: 1px solid $c-gray;
          .head {
            background-color: $c-gray;
            color: $c-white;
            padding: 5px;
          }
          .body {
            .cell {
              padding: 3px 12px 3px 5px;
              position: relative;

              .icon-menu {
                position: absolute;
                right: 0;
                cursor: pointer;
              }
            }
            .cell:nth-child(even) {
              background-color: rgb(116 120 141 / 16%);
            }

          }
        }
        .two {
          min-width: 500px;
          max-width: 500px;
          border-bottom: 3px solid $c-gray;
          .head {
            background-color: purple;
            color: $c-white;
            padding: 5px;
            border-radius: 2px 2px 0px 0px;
          }
          .body {
            padding: 5px;
          }
        }
         .three {
          min-width: 700px;
          max-width: 700px;
          .head {
            background-color: $c-gray;
            color: $c-white;
            padding: 5px;
          }
          .body {
            padding: 5px;
          }
        }
        
      }
    }
  }
}

