@import '../variables.scss';

.create-content {
  .templates {
    display: flex;
    gap:12px;
    .item {
      border: 1px solid $c-gray;
      width: 90px;
      height: 90px;
      border-radius: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 70px;
      }
    }
  }
}