
@import '../variables.scss';
.editor, .jutting {
  .design {
    border-radius: 2px;
    margin: 0 auto;
    box-shadow: 0px 8px 31px rgb(43 41 0 / 12%);
    .head {
      .title {
        cursor: pointer;
        font-weight: 600;
      }
      .actions{
        display: flex;
        gap: 6px;
        .action {
          cursor: pointer;
          display: flex;
          align-items: center;
          padding: 4px;
        }
        .action:hover {
          background-color: #23202733;
          border-radius: 25px;
        }
        .action a {
          text-decoration: none;
          display: flex;
          color: 'inherit';
        }
      }
    }
    .body {
      .row {
        &.more {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          cursor: pointer;
          svg {
              background-color: #f0f4fa;
              border-radius: 15px;
              width: 25px;
            
          }
        }
        .cell {
          overflow-wrap: break-word;
        }
      }
      .container {
        .dropdown {
          position: absolute;
          right: 0;
          // .content {
          //   min-width: 0px;
          // }
        }
        .drag {
          position: absolute;
          left: -23px;
        }
      }
    }
  }
  .metadata {
    padding: 6px;
    max-height: 0px;
    transition: max-height .2s;
    overflow: hidden;
    .actions {
      display: flex;
      padding: 6px 0px;
      .action {
        cursor: pointer;
        border-radius: 25px;
        margin-right: 14px;
        padding: 3px 5px;
        display: flex;
        gap: 4px;
      }
      .action:hover {
        background-color: #23202733;
      }
    }
    .data {
      display: flex;
      align-items: flex-end;
      margin-bottom: 6px;
      .label {
        width: 115px;
        display: flex;
        gap: 4px;
      }
    }
    &.active {
      max-height: 100px;
    }
  }
  .x {
    min-width: 367px;
    max-width: 367px;
  }
  .xx {
    min-width: 500px;
    max-width: 500px;
  }
  .xxx {
    min-width: 700px;
    max-width: 700px;
  }
  .cardS3 {
    border: 1px solid $c-gray;
    .head {
      color: $c-white;
      padding: 5px;

      &.dark { background-color: $c-dark-head; }
      &.gray { background-color: $c-gray-head; }
      &.red { background-color: $c-red-head; }
      &.blue { background-color: $c-blue-head; }
      &.purple { background-color: $c-purple-head; }
      &.green { background-color: $c-green-head; }
    }
    .body {
      .row {
        padding: 3px 12px 3px 5px;
        position: relative;

        .icon-menu {
          position: absolute;
          right: 0;
          cursor: pointer;
        }
        .container-columns {
          display: flex;
          justify-content: space-between;

          &.cardS3C1a .cell{
            &:nth-child(1) { width: 100% }
          }

          &.cardS3C2a .cell{
            &:nth-child(1) { width: 30% }
            &:nth-child(2) { width: 70% }
          }
          &.cardS3C2b .cell {
            &:nth-child(1) { width: 70% }
            &:nth-child(2) { width: 30% }
          }
          &.cardS3C2c .cell {
            &:nth-child(1) { width: 50% }
            &:nth-child(2) { width: 50% }
          }

          &.cardS3C3a .cell {
            &:nth-child(1) { width: 20% }
            &:nth-child(2) { width: 20% }
            &:nth-child(3) { width: 60% }
          }
          &.cardS3C3b .cell {
            &:nth-child(1) { width: 33.3% }
            &:nth-child(2) { width: 33.3% }
            &:nth-child(3) { width: 33.3% }
          }
          &.cardS3C3c .cell {
            &:nth-child(1) { width: 20% }
            &:nth-child(2) { width: 60% }
            &:nth-child(3) { width: 20% }
          }

          [contenteditable=true]:empty:before {
            content: attr(placeholder);
            pointer-events: none;
            display: block; /* For Firefox */
            color: #b5b8bf;
          }
        }
        &:nth-child(even) { background-color: $c-gray-body; }
        &.gray:nth-child(even) { background-color: $c-gray-body; }
        &.dark:nth-child(even) { background-color: $c-dark-body; }
        &.red:nth-child(even) { background-color: $c-red-body; }
        &.blue:nth-child(even) { background-color: $c-blue-body; }
        &.purple:nth-child(even) { background-color: $c-purple-body; }
        &.green:nth-child(even) { background-color: $c-green-body; }
      }
    }
  }
  .cardS2 {
    &.orange { border-bottom: 3px solid $c-orange-head}
    &.gray { border-bottom: 3px solid $c-gray-head }
    &.green { border-bottom: 3px solid $c-green-head }
    &.blue { border-bottom: 3px solid $c-blue-head; }
    &.red { border-bottom: 3px solid  $c-red-head; }

    .head {
      color: $c-white;
      padding: 5px;
      border-radius: 2px 2px 0px 0px;

      &.orange { background-color: $c-orange-head }
      &.gray { background-color: $c-gray-head }
      &.green { background-color: $c-green-head }
      &.blue { background-color: $c-blue-head; }
      &.red { background-color:  $c-red-head; }
    }
    .body {
      &.orange { background-color: $c-orange-body }
      &.gray { background-color: $c-gray-body }
      &.green { background-color: $c-green-body }
      &.blue { background-color: $c-blue-body; }
      &.red { background-color:  $c-red-body; }
      .row {
        padding: 3px 12px 3px 5px;
        position: relative;

        .container-columns {
          display: flex;
          // justify-content: space-between;

          &.cardS2C1a .cell{
            &:nth-child(1) { width: 100% }
          }

          &.cardS2C2a .cell{
            &:nth-child(1) { width: 30% }
            &:nth-child(2) { width: 70% }
          }
          &.cardS2C2b .cell {
            &:nth-child(1) { width: 70% }
            &:nth-child(2) { width: 30% }
          }
          &.cardS2C2c .cell {
            &:nth-child(1) { width: 50% }
            &:nth-child(2) { width: 50% }
          }

          &.cardS2C3a .cell {
            &:nth-child(1) { width: 20% }
            &:nth-child(2) { width: 20% }
            &:nth-child(3) { width: 60% }
          }
          &.cardS2C3b .cell {
            &:nth-child(1) { width: 33.3% }
            &:nth-child(2) { width: 33.3% }
            &:nth-child(3) { width: 33.3% }
          }
          &.cardS2C3c .cell {
            &:nth-child(1) { width: 20% }
            &:nth-child(2) { width: 60% }
            &:nth-child(3) { width: 20% }
          }

          [contenteditable=true]:empty:before {
            content: attr(placeholder);
            pointer-events: none;
            display: block; /* For Firefox */
            color: #b5b8bf;
          }
        }
      }
    }
  }
  .cardS1 {
    &.orange { 
      border: 2px solid $c-orange-head;
      box-shadow: 5px 5px 0px 0px $c-orange-head;
    }
    &.gray { 
      border: 2px solid $c-gray-head;
      box-shadow: 5px 5px 0px 0px $c-gray-head;
    }
    &.green { 
      border: 2px solid $c-green-head;
      box-shadow: 5px 5px 0px 0px $c-green-head;
    }
    &.red { 
      border: 2px solid $c-red-head;
      box-shadow: 5px 5px 0px 0px $c-red-head;
    }
    &.dark { 
      border: 2px solid $c-dark-head;
      box-shadow: 5px 5px 0px 0px;
    }
    .head {
      color: $c-dark;
      padding: 5px;
    }
    .body {
      .row {
        padding: 3px 12px 3px 5px;
        position: relative;

        .container-columns {
          display: flex;
          justify-content: space-between;

          &.cardS1C1a .cell{
            &:nth-child(1) { width: 100% }
          }

          &.cardS1C2a .cell{
            &:nth-child(1) { width: 30% }
            &:nth-child(2) { width: 70% }
          }
          &.cardS1C2b .cell {
            &:nth-child(1) { width: 70% }
            &:nth-child(2) { width: 30% }
          }
          &.cardS1C2c .cell {
            &:nth-child(1) { width: 50% }
            &:nth-child(2) { width: 50% }
          }

          &.cardS1C3a .cell {
            &:nth-child(1) { width: 20% }
            &:nth-child(2) { width: 20% }
            &:nth-child(3) { width: 60% }
          }
          &.cardS1C3b .cell {
            &:nth-child(1) { width: 33.3% }
            &:nth-child(2) { width: 33.3% }
            &:nth-child(3) { width: 33.3% }
          }
          &.cardS1C3c .cell {
            &:nth-child(1) { width: 20% }
            &:nth-child(2) { width: 60% }
            &:nth-child(3) { width: 20% }
          }

          [contenteditable=true]:empty:before {
            content: attr(placeholder);
            pointer-events: none;
            display: block; /* For Firefox */
            color: #b5b8bf;
          }
        }
      }
    }
  }
}