@import '../variables.scss';

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 13px;
  &.danger {
    color: #924040;
    background-color: #fde1e1;
    border-color: #fcd2d2;
  }
  &.success {
    color: #1f7556;
    background-color: #d6f3e9;
    border-color: #c2eddd;
  }
  &.warning {
    color: #916c2e;
    background-color: #fcf0db;
    border-color: #fbe9c9;
  }
  &.info {
    color: #306391;
    background-color: #dcedfc;
    border-color: #cbe4fb;
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  margin: 0 auto;
  
  & .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}


.btnn {
  font-weight: 400;
  border: 1px solid transparent;
  padding: .40rem .40rem;
  border-radius: $border-radius;
  cursor: pointer;
  background-color: rgba(52,58,64,.1);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
  }
}

.btn {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
  padding: .47rem .75rem;
  font-size: .8125rem;
  border-radius: .25rem;
}
.btn-primary {
  color: #fff;
  background-color: $c-primary;
  border-color: $c-primary;
}
.btn-outline-danger {
  color: #f46a6a;
  border-color: #f46a6a;
}
.btn-outline-primary {
  color: $c-primary;
  border-color: $c-primary;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #f46a6a;
  border-color: #f46a6a;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: $c-primary;
  border-color: $c-primary;
}
.btn-sm {
  padding: .25rem .5rem;
  font-size: .7109375rem;
  border-radius: .2rem;
}

.flex{
  display: flex;
}
.gap-10{
  gap: 10px
}

