@import '../variables.scss';

.perfil-card {
  max-width: 377px;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #f6f6f6;
  border-radius: .25rem;
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  .header {
    height: 94px;
    display: flex;
    justify-content: space-between;
    background-color: $c-blue-light;
    border-radius: .25rem .25rem 0px 0px;
    h5 {
      padding: 1rem;
      margin-top: 14px;
      font: $--D-Headline5;
      color: $c-blue;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .content {
    display: flex;
    padding: 1rem;
    gap: 20px;
    .info {
      flex: 1 1 15%;
      position: relative;
      .name {
        font-weight: 500;
        font-size: 19.5px;
        margin: 28px 0px 0px 0px;
        width: 143px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .speciality {
        margin: 8px 0px 0px 0px;
      }
      .avatar {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 1px solid #f6f6f6;
        background-color: hsla(0,0%,100%,.25);
        padding: 3px;
        position: absolute;
        top: -55px;
      }
    }
    .section {
      flex: 2 2 0%;
      position: relative;
      .numbers {
        display: flex;
        justify-content: space-between;
        .item h5{
          font-weight: 500;
          font-size: 16.25px;
          margin: 0px 0px 5px 0px;
        }
        .item p{
          margin: 0px;
        }
      }
      a {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .btn {
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        text-decoration: none;
      }
      .btn-primary {
        color: #fff;
        background-color: $c-primary;
        border-color: $c-primary;
      }
      .btn-sm {
        padding: .25rem .5rem;
        font-size: .7109375rem;
        border-radius: .2rem;
      }
    }
  }
}