@import '../styles/variables.scss';

.nabvar {
  background-color:$c-blue-dark;
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user {
      cursor: pointer;
      color: $c-white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: hsla(0,0%,100%,.25);
        padding: 3px;
      }
    }
  }
}