// Colors
$c-blue: #556ee6;
$c-indigo: #564ab1;
$c-purple: #6f42c1;
$c-orange: #f1734f;
$c-yellow: #f1b44c;
$c-green: #34c38f;
$c-teal: #050505;
$c-cyan: #50a5f1;
$c-white: #fff;
$c-gray: #74788d;
$c-gray-dark: #343a40;
$c-primary: #556ee6;
$c-secondary: #74788d;
$c-success: #34c38f;
$c-info: #50a5f1;
$c-warning: #f1b44c;
$c-danger: #f46a6a;
$c-pink: #e83e8c;
$c-light: #eff2f7;
$c-dark: #343a40;
$f-poppins: "Poppins",sans-serif;

$c-back: #f8f8fb;
$c-purple-ligth: rgba(85,110,230,.25);

//Fonts
$bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,0.15),hsla(0,0%,100%,0));